body{
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
  background-color: #e4f9f5;
}
h1{
  font-family: Sacramento;
  font-size: 550%;
  color: #66BFBF;
}
h2{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
p{
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}
hr{
  width: 10%;
  border-top-style: dotted;
  border-width:10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  color: #e3dfc8
}
ul{
  width: 30%;
  margin: 0 auto;
}
a{
  color: #383e56;
  margin: 1em;
}
.top{
  height: 800px;
}

.sec-cloud{
  position: absolute;
  margin-right: 30%;
}
.first-cloud{
  margin-left: 30%;
}
.profile{
  height: 800px;
}
.Profile_pic{
  border-radius: 50%;
}
.Code_image{
  border-radius: 50%;
}
.bottom-container{
  padding-top: 20px;
  background-color: #8bcdcd;
}
.Project{
  border-radius: 50%;
}
